<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AngularJs Content Editable - codekraft studio</title>
    <meta name="author" content="CodeKraft Studio">
    <meta name="description" content="Expect us, we are coming, the new full qualified web developers duo.">
  	<meta name="Robots" content="ALL,INDEX">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:title" content="CodeKraft, cutting edge programming!" />
  	<meta property="og:description" content="Expect us, we are coming, the new full qualified web developers duo" />
  	<meta property="og:image" content="http://core.codekraft.it/www.codekraft.it/quadkode.jpg" />
  	<meta property="og:type" content="website" />
  	<meta property="og:url" content="http://www.codekraft.it/" />
  	<meta property="og:site_name" content="CodeKraft, cutting edge programming!" />
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <article role="main" ng-controller="mainCtrl">
      <header>
        <div class="hcont">
          <h1>angular-content-editable</h1>
          <h2>click and edit what you want!</h2>
        </div>
        <a href="https://github.com/codekraft-studio"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
      </header>
      <section>

        <div class="hcont">

          <h2 class="editable" ng-model="myModel" single-line="true" content-editable>
            A mispelled sngle line ttle, correkt me pleas!
          </h2>

          <p>
            The header above is enabled with the directive <b>content-editable</b> and you can correct it by clicking.
            <br>This is a normal non-editable paragraph instead.
          </p>

          <p class="editable" ng-model="paragraphModel" focus-select="true" content-editable>
            This paragraph has the <b>focus-select attribute</b>, when you click it, it auto select all text on focus.
            <br>So, you can easily edit it by clicking it and pressing <kbd>Backspace</kbd> to erase all text selected.
            <br>If <b>you make a mess</b> and you want to <b>undo the changes</b> simply press <kbd>Esc</kbd> and rollback to previous value.
          </p>

          <p class="editable" ng-model="paragraphHTMLModel" focus-select="true" render-html="true" content-editable>
            You can also add the attribute <b>render-html</b> and allow the directive to compile any html text you entered.
            <br>Try to enter custom html tags into this one.
          </p>

          <h3 ng-model="paragraphCallback" single-line="true" edit-callback="exitCallback" content-editable>
            If you need to call an action when the changes are submitted specify a <b>edit-callback</b> function.
          </h3>

        </div>
      </section>
    </article>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script type="text/javascript" src="../test/vendor/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="../dist/content-editable.directive.min.js"></script>
  <script>
    angular.element(document).ready(function() {
      angular.bootstrap(document, ['app'])
    })
  </script>
</html>
